@keyframes openHeader {
  0% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 170px;
  }
}

@keyframes closeHeader {
  0% {
    height: 170px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 30px;
  }
}

.activeNavlist {
  animation-name: openHeader;
  animation-duration: 350ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  height: 170px;
}

.hiddenNavlist {
  animation-name: closeHeader;
  animation-duration: 350ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  height: 30px;
}